@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>This web application was was developed to show functionality of hosting on AWS. This web application is being hosted on an ec2.</p>
