@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Ash Ln, <br />
    Bellanode, <br />
    Sligo, <br />
    F91 YW50<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:S00184418@mail.itsligo.ie">S00184418@mail.itsligo.ie</a><br />
</address>