@{
    ViewBag.Title = "Home Page";
}

    <LEFT>
        <h1><FONT COLOR=#FF0033>My Web Application</FONT> </h1>
        <hr>
        </center>
        <h3>This application is being hosted through AWS.</h3>
        <td valign="top">
            <h2 align="center">Welcome!</h2>
            <Div Align="center">
                <p>
                    Welcome to my web application. I create the sample page in
                    the .NET framework.
                </p>
                <h4>IP Address : @ViewBag.Message</h4>
                <p>
                    Here is my first draft of an AWS architectual diagram. This images are been hosted on a S3 Bucket.
                </p>
                <img id="AWSDiagram" src="https://s3-eu-west-1.amazonaws.com/assignment-bucket-s00184418/webappimages/DiagramAssignment3_S00184418.PNG">
            </Div>